/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: 'Gravitas One';
}

p {
    font-size: 1.5em;
}
.nav-pills {
    padding-right: 50px;
}
.navbar-brand {
    font-size: 24px;
}
.nav-pills a {
    color: snow;
}
.nav-pills > li > a:hover {
    background-color: grey;
}
.jumbotron {
    background-image: url("../pildid/orgonite.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: cadetblue;
    min-height: 500px;
    padding-bottom: 200px;
    color: white;
}
