.navbar-brand {
    color: darkred;
}
#header-h1 {
    color: white;
}
.nav-pills {
    padding-right: 50px;
}
h3 {
    color: antiquewhite;
}
span {
    background-color:  white;
}
body {
    padding-top: 50px;
}
#lisa-vorm {
    display: inline-block;
}

label {
    display: inline-block;
    
}
input {
    display: inline-block;
    
}
.jumbotron {
    
    background-color: indigo;
    color: whitesmoke;
    padding-bottom: 50px;
}
body {
    background-image: url("../pildid/Darktree.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: cadetblue;
}
body p {
    
}


